@font-face {
    font-family: "Ostrich Sans";
    src: url("https://www.fontsquirrel.com/fonts/ostrich-sans.ttf");
}
body    {
    background-color: linen;
}
h1  {
    font-family: "Ostrich Sans", sans-serif; 
    text-align: center;
    margin-top: 90px;
    font-size: 3em;
}
p   {
    font-family: "Ostrich Sans", sans-serif;
    font-variant: small-caps;
    text-align: center;
    margin-top: 100px;
    font-size: 1.5em;
}
    
    
